@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Philosopher:700&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonicons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.woff") format("woff"), url("fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-phone:before {
  content: "\e900";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: 0;
}

a:focus,
a:active {
  outline: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}

h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 31.25px;
  line-height: 41px;
  color: #150c01;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #150c01;
  opacity: 0.7;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-prev,
.slick-next {
  -webkit-transform: scale(0.5, 1);
      -ms-transform: scale(0.5, 1);
          transform: scale(0.5, 1);
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #150c01;
  font-size: 30px;
  background-color: white;
  font-weight: bold;
  top: 50%;
}

.slick-prev {
  left: 0;
}

.slick-prev:before {
  content: "<";
}

.slick-next:before {
  content: ">";
}

.header {
  background: transparent;
  position: relative;
  z-index: 999;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 106px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 44px;
  height: 43px;
  margin: 0 35px 0 0;
}

.header__logo img {
  max-width: 100%;
}

.header__link {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  height: 46px;
  line-height: 46px;
  background: #dc780b;
  border-radius: 5px;
  padding: 0 30px;
  margin: 0 0 0 auto;
}

.menu-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-header__list li {
  margin: 0 10px 0 0;
}

.menu-header__link {
  font-size: 16px;
  line-height: 1.1875em;
  color: #150c01;
  opacity: 0.6;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.menu-header__link:hover {
  color: #dc780b;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #252525;
  padding-top: 137px;
  padding-bottom: 164px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__description {
  font-size: 14px;
  line-height: 1.142em;
  opacity: 0.7;
}

.footer__description p {
  margin: 0 0 15px 0;
}

.footer__logo {
  width: 61px;
  height: 60px;
  margin: 0 0 21px 0;
}

.footer__logo img {
  width: 60px;
  height: 61px;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__title {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.111em;
  margin: 0 0 23px 0;
}

.footer__list li {
  margin: 0 0 17px 0;
}

.footer__link {
  font-size: 14px;
  line-height: 1.142em;
  opacity: 0.7;
  color: #fff;
}

.footer__icons {
  margin: 22px 0 0 0;
}

.footer__icons img {
  margin: 0 10px 0 0;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  padding: 100px;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.hero__title {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 48.83px;
  line-height: 1.188em;
  color: #150c01;
  margin: 0 0 38px 0;
}

.hero__subtitle {
  font-weight: 500;
  font-size: 16px;
  font-size: 16px;
  line-height: 1.5em;
  color: #150c01;
  opacity: 0.7;
  margin: 0 0 45px 0;
}

.hero__img {
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
}

.hero__img img {
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 -80px;
  left: 0px;
  z-index: -1;
}

.buttons-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.buttons-hero * {
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  padding: 0 2.5em;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.buttons-hero__order {
  background: #dc780b;
  border: 1px solid #dc780b;
  color: #fff;
  margin: 0 30px 0 0;
}

.buttons-hero__food {
  color: #dc780b;
  border: 1.5px solid rgba(220, 119, 11, 0.3);
}

.features {
  padding: 100px;
}

.features__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}

.features__title {
  margin-bottom: 20px;
  text-align: center;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: 200px;
}

.item-features__img {
  width: 88px;
  height: 88px;
  left: 286px;
  top: 920px;
  margin: 0 auto 20px auto;
  background: rgba(142, 165, 49, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-features__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 0.96em;
  color: #150c01;
  text-align: center;
  margin-bottom: 0.3em;
}

.item-features__subtitle {
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  color: #150c01;
  opacity: 0.7;
}

.about {
  padding: 100px;
  position: relative;
}

.about > img {
  position: absolute;
  top: -100px;
  z-index: -1;
}

.about__img {
  margin: 0 0 20px 0;
  text-align: center;
}

.about__img img {
  max-width: 100%;
  border-radius: 10px;
}

.about__content {
  padding: 92px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__lable {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
  margin: 0 0 10px 0;
}

.about__title {
  margin: 0 0 30px 0;
}

.about__subtitle {
  margin: 0 0 20px 0;
}

.about__link {
  display: inline-block;
  background: #dc780b;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.625em;
  color: #fff;
  height: 42px;
  padding: 0 30px;
}

.menu {
  padding: 100px;
}

.menu__label {
  text-align: center;
}

.menu__title {
  text-align: center;
  margin-bottom: 10px;
}

.menu__subtitle {
  text-align: center;
  width: 65%;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.menu__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0 0 30px 0;
}

.menu__btn {
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 16px;
  color: #dc780b;
  border: 1px solid rgba(220, 119, 11, 0.1);
  border-radius: 5px;
  display: inline-block;
}

.item-menu {
  font-family: "Philosopher", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 76px 10px 76px 0px;
  overflow: hidden;
  padding: 0 0 25px 0;
  color: #150c01;
}

.item-menu__img {
  overflow: hidden;
  margin: 0 0 25px 0;
  position: relative;
  padding: 0 0 73.8% 0;
}

.item-menu__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-menu__img ~ * {
  padding: 0 25px;
}

.item-menu__top {
  font-weight: bold;
  font-size: 25px;
  line-height: 0.96em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 18px 0;
}

.item-menu__subtitle {
  font-size: 16px;
  line-height: 1.5em;
  color: #150c01;
  opacity: 0.7;
  margin-bottom: 10px;
}

.item-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-menu__btn {
  display: inline-block;
  background: #dc780b;
  color: #fff;
  border-radius: 5px;
  height: 34px;
  line-height: 34px;
  padding: 0 12px;
  text-align: center;
  text-indent: -1px;
}

.simple-rating {
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.simple-rating:before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #dc780b;
}

.simple-rating__label {
  color: #ededed;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
}

.simple-rating__label:before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

.take {
  padding: 120px;
  margin: 60px;
  background: #fbf1e7;
}

.take__row {
  padding: 0 97px;
  padding: 97px;
}

.take__title {
  margin: 0 0 20px 0;
}

.take__subtitle {
  margin: 0 0 35px 0;
}

.take__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}

.take__btn {
  display: inline-block;
  border-radius: 5px;
  padding: 0 28px;
  height: 48px;
  line-height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.take__btn:first-child {
  color: #fff;
  background: #150c01;
  border: 1.5px solid #150c01;
  margin: 0 30px 0 0;
}

.take__btn:last-child {
  color: #150c01;
  border: 1.5px solid rgba(21, 12, 1, 0.1);
}

.take__btn span {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.take__img {
  text-align: center;
}

.take__img img {
  position: static;
}

.block {
  width: 200px;
  height: 200px;
  background: red;
}

.testimontal {
  margin: 60px;
  text-align: center;
}

.slider {
  padding: 60px;
  text-align: center;
  color: #000;
}

.slider__container {
  max-width: 804;
  margin: 0 auto;
}

.slider__img {
  margin: 0 0 42px 0;
  pointer-events: none;
}

.slider__subtitle {
  font-size: 16px;
  line-height: 1.5em;
  color: #000;
  margin: 0 0 15px 0;
}

.slider__rating {
  margin: 0 0 28px 0;
}

.slider__name {
  font-size: 16px;
  line-height: 1.1875em;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}

.slider__type {
  font-size: 12px;
  line-height: 1.16em;
  text-transform: uppercase;
  opacity: 0.7;
}

.slider__img img,
.slider__subtitle,
.slider__name,
.slider__type {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact {
  text-align: center;
  padding: 115px;
  background: rgba(220, 119, 11, 0.1);
}

.contact__container {
  max-width: 750px;
}

.contact__label {
  margin: 0 0 10px 0;
}

.contact__title {
  margin: 0 0 46px 0;
}

.form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__input input {
  width: 100%;
  padding: 32px;
  padding-left: 32px;
  height: 100%;
  font-size: 16px;
  color: #000;
}

.form__input::-webkit-input-placeholder {
  opacity: 0.5;
}

.form__input::-moz-placeholder {
  opacity: 0.5;
}

.form__input:-ms-input-placeholder {
  opacity: 0.5;
}

.form__input::-ms-input-placeholder {
  opacity: 0.5;
}

.form__input::placeholder {
  opacity: 0.5;
}

.form__button {
  right: 0;
  position: absolute;
  height: 100%;
}

.form__button button {
  height: inherit;
  background: #dc780b;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding: 0 30px;
}

@media (min-width: 616px) {
  .take__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .take__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 324px;
            flex: 0 0 324px;
    position: relative;
  }

  .take__img img {
    top: -217px;
    position: absolute;
  }

  .take__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 70px 0 0;
  }
}

@media (min-width: 762px) {
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__img {
    overflow: hidden;
    position: relative;
    padding: 0 0 50% 0;
    max-height: 200px;
    width: 100%;
  }

  .about__img img {
    border-radius: 10px;
    position: absolute;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 137px 0 164px 0;
  }

  .hero {
    padding: 100px 0;
  }

  .features {
    padding: 100px 0;
  }

  .about {
    padding: 100px 0;
  }

  .menu {
    padding: 100px 0;
  }

  .take {
    padding: 120px 0;
    margin: 60px 0;
  }

  .testimontal {
    margin: 60px 0;
  }

  .contact {
    padding: 115px 0;
  }
}

@media (max-width: 1440px) {
  .label {
    font-size: calc(13.33333px + 2.66667 * ((100vw - 320px) / 1120));
  }

  h2 {
    font-size: calc(26.04167px + 5.20833 * ((100vw - 320px) / 1120));
  }

  .subtitle {
    font-size: calc(13.33333px + 2.66667 * ((100vw - 320px) / 1120));
  }

  .footer {
    padding-top: calc(68.5px + 68.5 * ((100vw - 320px) / 1120));
  }

  .footer {
    padding-bottom: calc(82px + 82 * ((100vw - 320px) / 1120));
  }

  .hero {
    padding: calc(33.33333px + 66.66667 * ((100vw - 320px) / 1120)) 0;
  }

  .hero__title {
    font-size: calc(37.56154px + 11.26846 * ((100vw - 320px) / 1120));
  }

  .hero__subtitle {
    font-size: calc(12.30769px + 3.69231 * ((100vw - 320px) / 1120));
  }

  .hero__img img {
    left: calc(-200px + 200 * ((100vw - 320px) / 1120));
  }

  .features {
    padding: calc(50px + 50 * ((100vw - 320px) / 1120)) 0;
  }

  .item-features__title {
    font-size: calc(19.23077px + 5.76923 * ((100vw - 320px) / 1120));
  }

  .item-features__subtitle {
    font-size: calc(12.30769px + 3.69231 * ((100vw - 320px) / 1120));
  }

  .about {
    padding: calc(50px + 50 * ((100vw - 320px) / 1120)) 0;
  }

  .about__content {
    padding: 0 calc(0px + 92 * ((100vw - 320px) / 1120));
  }

  .menu {
    padding: calc(50px + 50 * ((100vw - 320px) / 1120)) 0;
  }

  .take {
    padding: calc(60px + 60 * ((100vw - 320px) / 1120)) 0;
  }

  .take {
    margin: calc(30px + 30 * ((100vw - 320px) / 1120)) 0;
  }

  .take__row {
    padding: 0 calc(38.8px + 58.2 * ((100vw - 320px) / 1120));
  }

  .testimontal {
    margin: calc(30px + 30 * ((100vw - 320px) / 1120)) 0;
  }

  .slider {
    padding: calc(30px + 30 * ((100vw - 320px) / 1120)) 0;
  }

  .contact {
    padding: calc(57.5px + 57.5 * ((100vw - 320px) / 1120)) 0;
  }

  .form__input input {
    padding: calc(21.33333px + 10.66667 * ((100vw - 320px) / 1120)) 0;
  }

  .form__input input {
    padding-left: calc(21.33333px + 10.66667 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 888px) {
  .footer__column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .header__logo {
    display: none;
  }

  .menu-header__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #c5093d;
    top: 0;
    left: 0;
    padding: 0 0 35px 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .menu-header__body.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu-header .menu-header__list {
    display: block;
    text-align: center;
    padding: 100px 0 0 0;
  }

  .menu-header .menu-header__list li {
    margin: 0 0 10px 0;
  }

  .menu-header__link {
    color: white;
    opacity: 0.9;
    font-size: 40px;
  }

  .icon-menu {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #c5093d;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 534px) {
  .footer__description {
    margin: 0 0 20px 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__title {
    position: relative;
    padding: 0 0 0 25px;
    cursor: pointer;
  }

  .footer__title:before,
  .footer__title:after {
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 10px;
  }

  .footer__title:before {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
    left: 0;
  }

  .footer__title:after {
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
    left: 7.5px;
  }

  .footer__title.active:after {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .footer__title.active:before {
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }

  .footer__list {
    display: none;
  }
}